<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="collapse navbar-collapse" id="navbarColor08">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a href="#">Home <span class="element"></span></a>
		      </li>
		      <li class="nav-item active">
		        <a href="<%=contact_path%>">Contact   <span class="element"></span></a>
		      </li>
		      <li class="nav-item active">
		        <a href="<%=team_path%>">Team   <span class="element"></span></a>
		      </li>
		    </ul>
		</div>
	</nav>

	<h1>Voici notre page contact lol mdr</h1>

	<footer>
		
	</footer>

</body>


